<section id="login">
  <div class="form">
    <div class="row">
      <div class="col-md-5">
        <h1>Login</h1>
        <div *ngIf="message" class="alert alert-success">
          {{message}}
        </div>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input 
              formControlName="email"
              type="email"
              class="form-control"
              id="email">
            <div 
              *ngIf="email.invalid && !email.pristine"
              class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.forbiddenEmail">
                This email is not allowed!
              </div>
              <div *ngIf="email.errors.pattern">
                Must be valid email format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input 
              formControlName="password"
              type="password"
              class="form-control"
              id="password">
            <div 
              *ngIf="password.invalid && !password.pristine"
              class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Minimum length of password is 6 characters.
              </div>
            </div>
            <!-- <div 
              *ngIf="loginForm.errors?.sameAs && !password.pristine"
              class="alert alert-danger">
              Password  must be the same as email!
            </div> -->
          </div>
          <button 
            (click)="login()"
            [disabled]="loginForm.invalid"
            type="submit" 
            class="btn btn-main">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/login-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>