<div class="list-page">
  <h1 class="title">Your home in "{{city | upper:'firstLetterUpper'}}"</h1>
  <p *ngIf="rentals.length === 0 && !isFetching"
    class="alert alert-warning">
    No rentals found for your query.
  </p>
  <div class="row">
    <div
      *ngFor="let rental of rentals"
      class="col-md-3 col-xs-12">
        <rental-card
          [rentalItem]="rental">
        </rental-card>
    </div>
  </div>
</div>
