<section id="register">
  <div class="form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form 
          #registerForm="ngForm"
          [sameAs]="['password', 'passwordConfirmation']">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              [(ngModel)]="registerFormData.username"
              #username="ngModel"
              required
              minlength="4"
              name="username"
              type="text"
              class="form-control"
              id="username">
            <div *ngIf="username.invalid && username.pristine === false" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required!
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 4 characters long!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input 
              [(ngModel)]="registerFormData.email"
              #email="ngModel"
              required
              [pattern]="emailPattern"
              forbiddenEmail="jerga99@gmail.com"
              name="email"
              type="email"
              class="form-control"
              id="email">
            <div *ngIf="email.invalid && email.pristine === false" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required!
              </div>
              <div *ngIf="email.errors.forbiddenEmail">
                Provided email is not allowed!
              </div>
              <div *ngIf="email.errors.pattern">
                Email format is not valid!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input 
              [(ngModel)]="registerFormData.password"
              #password="ngModel"
              required
              minlength="6"
              name="password"
              type="password"
              class="form-control"
              id="password">
            <div *ngIf="password.invalid && password.pristine === false" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required!
              </div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long!
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input 
              [(ngModel)]="registerFormData.passwordConfirmation"
              #passwordConfirmation="ngModel"
              required
              minlength="6"
              name="passwordConfirmation"
              type="password"
              class="form-control"
              id="passwordConfirmation">
            <div 
              *ngIf="passwordConfirmation.invalid && passwordConfirmation.pristine === false" 
              class="alert alert-danger">
              <div *ngIf="passwordConfirmation.errors.required">
                Password Confirmation is required!
              </div>
              <div *ngIf="passwordConfirmation.errors.minlength">
                Password Confirmation must be at least 6 characters long!
              </div>
            </div>
            <div 
              *ngIf="registerForm.errors?.sameAs && !passwordConfirmation.pristine"
              class="alert alert-danger">
              Password confirmation must be the same as password!
            </div>
          </div>
          <button 
            (click)="register(registerForm)"
            type="submit" 
            class="btn bwm-btn-main">Submit</button>
          <!-- <button 
            [disabled]="registerForm.invalid"
            (click)="register()"
            type="submit" 
            class="btn bwm-btn-main">Submit</button> -->
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>