<div class="card">
  <a routerLink="/rentals/{{rental._id}}">
    <img class="card-img-top" [src]="rental.image?.url" alt="">
    <div class="card-block">
      <h6 class="card-subtitle type-{{rental.category}}">
        {{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}} &#183; {{rental.city}}</h6>
      <h4 class="card-title">{{rental.title}}</h4>
      <p class="card-text">${{rental.dailyPrice}} per Night &#183; Free Cancelation</p>
    </div>
  </a>
  <ng-content></ng-content>
</div>

