@import 'colors';

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

/* SINGLE CARD STYLES*/
.card {
  border: none;
  margin-bottom: 20px;

  .card-block {
    padding-top: 8px;

    .card-subtitle {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      // You can comment this and remove important
      color: #16861a;
    }

    .card-title {
      font-size: 19px;
      margin: 3px 0;
      color: $dark-gray-color;
    }

    .card-text {
      font-size: 14px;
      font-weight: 300;
      color: #7e7e7e;
      margin-bottom: 0;
    }
  }
} 