<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">BookWithMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0 mr-auto">
      <input
        #citySearch 
        (keyup.enter)="search(citySearch.value)"
        class="form-control mr-sm-2 search" 
        type="search" 
        placeholder="Search" 
        aria-label="Search">
      <button 
        (click)="search(citySearch.value)"
        class="btn btn-outline-success my-2 my-sm-0 btn-main" >Search</button>
    </div>
    <ul class="navbar-nav">
      <li *ngIf="isAuthenticated" class="nav-item active">
        <div class="nav-link">Hello {{username}}!</div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <ng-container *ngIf="isAuthenticated else notAuthMenu">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/rentals/new">New Rental</a>
            <a class="dropdown-item" routerLink="manage/rentals">My Rentals</a>
            <a class="dropdown-item" routerLink="manage/bookings">My Bookings</a>
            <a 
              class="dropdown-item" 
              [queryParams]="{type: 'received'}"
              routerLink="manage/bookings">Received Bookings</a>
          </div>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </ng-container>
      <ng-template #notAuthMenu>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>