
@import 'colors';

.navbar {

  .navbar-brand {
    font-size: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    color: $dark-red-color;
    font-weight: bold;
  }

  .search {
    height: 50px;
    width: 300px;
  }

  .nav-item {
    font-size: 16px;
  }
}