<div class="list-page">
  <h1 class="title">Your home all around the World</h1>
  <!-- TODO: Create custom directive in end of this section -->
  <div class="row">
    <div
      *ngFor="let rental of rentals"
      class="col-md-3 col-xs-12">
        <rental-card
          [rentalItem]="rental">
        </rental-card>
    </div>
  </div>
</div>
