<div class="list-page">
  <h1 class="title">My Rentals</h1>
  <div *ngIf="rentals" class="row">
    <div 
      *ngFor="let rental of rentals"
      class="col-md-3 col-xs-12">
        <rental-card 
          [rentalItem]="rental">
          <div class="button-container mt-1">
            <button 
              (click)="deleteRental(rental._id)"
              class="btn btn-danger">
              Delete
            </button>
            <a 
              class="btn btn-main ml-1"
              routerLink="/rentals/{{rental._id}}/edit">
              Edit
            </a>
          </div>
        </rental-card>
    </div>
    <div *ngIf="rentals.length === 0" class="alert alert-warning">
      No rentals created :(
    </div>
  </div>
</div>