
<div>
  <label class="image-upload-container btn btn-main">
    <span>Select Image</span>
    <input 
      #fileInput
      type="file"
      accept="image/*"
      (change)="onImageLoad($event)">
  </label>

  <image-cropper
    *ngIf="imageChangedEvent"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="3 / 2"
    format="jpeg"
    [resizeToWidth]="950"
    (imageCropped)="imageCropped($event)">
  </image-cropper>

  <div *ngIf="selectedImage" class="img-preview-container">
    <div class="img-preview{{selectedImage.status === 'ERROR' ? '-error' : ''}}">
      <img *ngIf="selectedImage.src" [src]="selectedImage.src" >
    </div>

    <div 
      *ngIf="selectedImage.status === 'PENDING'"
      class="spinner-container">
      <bwm-spinner></bwm-spinner>
    </div>
    <div 
      *ngIf="selectedImage.status === 'UPLOADED'"
      class="alert alert-success">
      Image has been uploaded succesfuly!
    </div>
    <div 
      *ngIf="selectedImage.status === 'ERROR'"
      class="alert alert-danger">
      Image uploaded failed!
    </div>
  </div>

  <div *ngIf="selectedImage" class="mt-1">
    <button 
      *ngIf="selectedImage.status === 'LOADED'"
      (click)="uploadImage()"
      class="btn btn-success mr-1"
      type="button">Upload Image
    </button>
    <button 
      (click)="cancelImage(fileInput)"
      class="btn btn-danger"
      type="button">Cancel
    </button>
  </div>
</div>
