<div [ngSwitch]="bookingType">
  <div *ngSwitchCase="bookingTypes.received">
    <booking-listing
      [type]="bookingTypes.received"
      title="Received Bookings"
      [getBookings]="getReceivedBookings">
    </booking-listing>
  </div>
  <div *ngSwitchDefault>
    <booking-listing
      [type]="bookingTypes.all"
      title="My Bookings"
      [getBookings]="getAuthUserBookings">
    </booking-listing>
  </div>
</div>
