@import "@tomtom-international/web-sdk-maps";
        
#map {
  height: 357px;
  width: 100%;
}

.marker {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.3;
}