

<section
  *ngIf="rental && rental._id"
  id="rentalDetails">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img 
          class="rental-image" 
          [src]="rental.image?.url" 
          alt="Cover image of rental">
      </div>
      <div class="col-md-6">
        <map
          [location]="rentalLocation">
        </map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h2 class="rental-type type-{{rental.category}}">
            {{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}}
          </h2>
          <h1 [Highlight]="'transparent'" class="rental-title">{{rental.title}}</h1>
          <h2 class="rental-city">{{rental.city | upper:'firstLetterUpper'}}</h2>
          <div class="rental-room-info">
            <span class="item"><i class="fa fa-building"></i>{{rental.numOfRooms}} bedrooms</span>
            <span class="item"><i class="fa fa-user"></i>{{rental.numOfRooms + 4}} guests</span>
            <span class="item"><i class="fa fa-bed"></i>{{rental.numOfRooms + 2}} beds</span>
          </div>
          <p class="rental-description">
            {{rental.description}}
          </p>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <!-- TODO: Update FA! -->
                <span><i class="fa fa-asterisk"></i> Cooling</span>
                <span><i class="fa fa-thermometer"></i> Heating</span>
                <span><i class="fa fa-location-arrow"></i> Iron</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area</span>
                <span><i class="fa fa-cube"></i> Washing machine</span>
                <span><i class="fa fa-cube"></i> Dishwasher</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <rental-booking
          [rental]="rental"
          [isAuth]="auth.isAuthenticated">
        </rental-booking
        >
      </div>
    </div>
  </div>
</section
>