<div class="editable-component" [ngClass]="{'editable-component-inline': inline}">

  <textarea
    *ngIf="isActiveInput"
    (keydown.escape)="cancelUpdate()"
    (keydown.enter)="updateEntity()"
    class="{{className}}"
    [(ngModel)]="entity[entityField]"
    rows="{{rows}}"
    cols="{{cols}}">
  </textarea>

  <span
    *ngIf="!isActiveInput"
    class="{{className}}">{{transformView(entity[entityField])}}
  </span>

  <div class="button-container">
    <button
      *ngIf="!isActiveInput"
      (click)="isActiveInput = true"
      class="btn btn-small btn-warning btn-editable">
      Edit
    </button>

    <button
      *ngIf="isActiveInput"
      (click)="updateEntity()"
      class="btn btn-small btn-success btn-editable">
      Save
    </button>

    <button
      *ngIf="isActiveInput"
      (click)="cancelUpdate()"
      class="btn btn-small btn-danger btn-editable">
      Cancel
    </button>
  </div>
</div>
